* {
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}

body {
    background-color: #d6d8dc;
}

header {
    display: flex;
    background-color: #333652;
    color: #E9EAEC;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#header-img img {
    width: 80px;
    margin-left: 15px;
}

#header-title {
    margin-left: 10px;
    font-size: 20px;
    color: #e4934c;
}

#header-user {
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
}

#header-user-text {
    margin-left: auto;
    margin-right: 6px;
}

#header-user img {
    width: 80px;
}

nav {
    position: fixed;
    text-align: center;
    height: 100%;
    background-color: #f9c806;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li {
    display: inline-block;
    padding: 20px;
}

nav li:hover {
    background-color: #e0b406;
}

li a {
    text-decoration: none;
    color: #333652;
}

#main-div {
    color: #333652;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #333652;
    color: #e8a164;
    width: 100%;
}

footer p {
    padding: 1rem 0;
}

@media screen and (max-width: 600px), screen and (max-height: 480px) {
    #header-img {
        display: none;
    }

    #header-title {
        font-size: 15px;
        margin: 0 30px;
        width: 50%;
    }

    #header-user {
        width: 50%;
        justify-content: right;
    }

    nav {
        width: 100%;
        height: auto;
        position: relative;
        text-align: left;
        position: static;
        display: flex;
        text-align: center;
        border: 1px solid black;
        border-right: none;
        border-left: none;
    }

    nav ul {
        display: block;
    }
}

@media screen and (max-height: 500px) {
    footer {
        position: sticky;
    }
}